* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    background-color: grey;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--title);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: darkblue;
    flex-wrap: wrap;
    width: 100%;
    height: 4.5rem;
}

header h1 {
    margin-right: auto;
    margin-left: 0.2rem;
}

header img{
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0;
}

.nav-links li a{
text-decoration: none;
font-size: 1.5rem;
font-weight: 400;
color: darkgoldenrod;
}

.nav-links li{
    list-style: none;
    padding: 0.1rem;
}

.folio{
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.folio:focus{
    outline: none;
}

*---MAIN SECTION----*

#main-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 70%;
}

.logo img {
    width: 200px;
}

.logo h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    padding: .5rem;
}

.About{
    width: 65%;
     padding: 0 .5rem; 
}

.links {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
